@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');/*Letra exportada */

.mapaplanta {
  position: fixed; /* Posición fija para que la imagen se mantenga fija en la pantalla */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho de la ventana */
  height: 100%; /* Ocupa toda la altura de la ventana */
  z-index: -1; /* Para enviar la imagen al fondo y detrás de otros elementos */
}

.mapaplanta img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
  object-fit: cover; /* Hace que la imagen se ajuste para cubrir todo el contenedor */
}


.titulo1 {
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 5%;/* distancia de la parte superior */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 167, 4, 0.445); /* Fondo transparente para el texto */
  padding: 25px; /* Espacio alrededor del texto */
  font-family: "Bungee Spice", sans-serif; /* tipo de letra */
  font-weight: 100; /*tamaño de la letra */
  font-style: 30px;/*tamaño del estilo de fuente*/
}

.titulo2 {
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 60%;/* distancia de la parte superior */
  left: 46%;
  transform: translate(-50%, -50%);
  font-family: "Bungee Spice", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.titulo3 {
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 64%;/* distancia de la parte superior */
  left: 50%;
  transform: translate(-20%, -130%);
  background-color: rgba(255, 0, 0, 0.692); /* Fondo transparente para el texto */
  padding: 10px; /* Espacio alrededor del texto */
  font-family: "Bungee Spice", sans-serif;
  font-weight: 1000;
  font-style: normal;
}
.Tipo{
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 67%;/* distancia de la parte superior */
  left: 55%;
  transform: translate(-20%, -130%);
  width: 1%;
}

.Tipo img {
  width: 55px; /* Ancho deseado para la imagen */
  height: auto; /* Mantener la proporción de la imagen */
}

.información {
  position: absolute; /* Posiciona el texto de forma absoluta */
  color: white; /* Color del texto blanco */
  left: 50%; /* Ajusta su posición en el centro del contenedor */
  top: 80%;/* distancia de la parte superior */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  width: 50%; /* Ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-family: "Madimi One", sans-serif;
  font-size: larger;
}

.Volver {
  position: absolute; /* Posiciona el texto de forma absoluta */
  color: rgb(255, 255, 255); /* Color del texto blanco */
  left: 0%; /* Ajusta su posición en el centro del contenedor */
  top: 90%;/* distancia de la parte superior */
  width: 20%; /* Ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: xx-large;
  font-family: "Madimi One", sans-serif;
}

.Evolución {
  position: absolute; /* Posiciona el texto de forma absoluta */
  color: rgb(255, 255, 255); /* Color del texto blanco */
  right: 0%; /* Ajusta su posición en el centro del contenedor */
  top: 90%;/* distancia de la parte superior */
  width: 20%; /* Ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: xx-large;
  font-family: "Madimi One", sans-serif;
}

.Información2 {
  position: absolute; /* Posiciona el texto de forma absoluta */
  color: rgb(255, 255, 255); /* Color del texto blanco */
  right: 38%; /* Ajusta su posición en el centro del contenedor, pero lo he cambiado para que quede un poco mas a la derecha*/
  top: 70%;/* distancia de la parte superior */
  width: 20%; /* Ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: x-large;
  font-family: "Madimi One", sans-serif;
}

.personajeTorracat{
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 25%;/* distancia de la parte superior */
  right: 0;
  transform: translate(-150%, -10%);
  width: 400px;

}

.personajeLitten{
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 15%;/* distancia de la parte superior */
  right: 0;
  transform: translate(-170%, -10%);
  width: 400px;

}


.Atrás {
  position: absolute; /* Posiciona el texto de forma absoluta */
  color: rgb(255, 255, 255); /* Color del texto blanco */
  right: 0%; /* Ajusta su posición en el centro del contenedor */
  top: 80%;/* distancia de la parte superior */
  width: 20%; /* Ancho completo del contenedor */
  text-align: center; /* Centra el texto horizontalmente */
  font-size: xx-large;
  font-family: "Madimi One", sans-serif;
}


.personajeIncineroar{
  position: absolute;/* Posiciona el texto de forma absoluta */
  top: 25%;/* distancia de la parte superior */
  right: 0;
  transform: translate(-170%, -10%);
  width: 400px;

}